.App {
  text-align: center;
  background-color: rgb(23, 22, 55);
  color: white;
}

h1 {
  padding: 3rem;
}

h2 {
  padding: 2rem;
}

h3 {
  padding: 1rem;
}

img {
  max-width: 50rem;
  max-height: 50rem;
  padding: 1rem;
}

section {
  margin: 2rem;
  padding: 2rem;
  transition: 0.5s;
  border-style: dotted;
  border-radius: 2rem;
  border-color: aliceblue;
}

section:hover {
  background-color: rgb(15, 6, 42);
}

ul {
  padding: 1rem;
}

li {
  padding-top: 1rem;
}